﻿@using Microsoft.AspNetCore.Mvc.Localization
@model MoneyTransfer.ViewModels.TransactionViewModel
@inject IViewLocalizer Localizer
<h2>@Localizer["Transaction"]</h2>
<form method="post" asp-controller="PersonAccount" asp-action="Transaction">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label>"@Localizer["Reciever"]"</label><br />
        <input asp-for="RecipientAccount" />
        <span asp-validation-for="RecipientAccount"></span>
    </div>
    <div>
        <label>"@Localizer["Balance"]"</label><br />
        <input asp-for="Balance" />
        <span asp-validation-for="Balance"></span>
    </div>
    <div>
        <input type="submit" value="@Localizer["Transfer"]" />
    </div>
</form>