﻿@using Microsoft.AspNetCore.Mvc.Localization
@model  List<Transaction>
@inject IViewLocalizer Localizer

<table class="table">
    <tr>
        <td>@Localizer["Sender"]"</td>
        <td>@Localizer["Reciever"]</td>
        <td>@Localizer["Balance"]</td>
        <td>@Localizer["Date"]</td>
    </tr>
    @foreach (var transaction in Model)
    {
        <tr>
            <td>@transaction.Sender.UserName</td>
            <td>@transaction.Reciever.UserName</td>
            <td>@transaction.Balance</td>
            <td>@transaction.DateOfTransaction</td>
        </tr>
    }
    
</table>
