﻿@using Microsoft.AspNetCore.Mvc.Localization
@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.LoginViewModel
@inject IViewLocalizer Localizer
<h2>@Localizer["EnterAccount"]</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Account"></label><br />
        <input asp-for="Account" />
        <span asp-validation-for="Account"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="@Localizer["Enter"]" />
    </div>
</form>