﻿@using Microsoft.AspNetCore.Mvc.Localization
@model User
@{
    ViewData["Title"] = "Home Page";
}
@inject IViewLocalizer Localizer
<form method="post" asp-controller="Home" asp-action="Refill">

    <input type="hidden" name="userName" value="@Model.UserName" />
    <table class ="table">
        <tr>

            <td><b>@Localizer["PersonalAccount"]</b></td>
            <td><b>@Localizer["Balance"]</b></td>
            <td><b>@Localizer["Add"]</b></td>
        </tr>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.Balance</td>
            <td><input type="number" name="refillQuantity" /></td>

        </tr>
    </table>
    <input class="btn" type="submit" value="@Localizer["Add"]" />
</form>
<a class="btn btn-default" asp-area="" asp-controller="PersonAccount" asp-action="Transaction">@Localizer["Send"]</a>
<a class="btn btn-default" asp-area="" asp-controller="PersonAccount" asp-action="Transactions">@Localizer["Transactions"]</a>




